<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/header :: header}"></th:block>
    <meta charset="UTF-8">
    <title>Problem List</title>
    <script src="/js/pagination.js"></script>
</head>
<body>
<main class="ui container">
    <div id="problem-list">
        <div class="ui segment">
            <form class="ui icon input" v-on:submit.prevent="search_problem()">
                <input type="text" v-model="search_string" placeholder="搜索题目名">
                <i class="search link icon" v-on:click="search_problem()"></i>
            </form>
            <a class="ui green button" href="/admin/problem/add">New Problem</a>
        </div>
        <div class="ui center aligned pagination menu">
            <pagination :class="{disabled:first}" content='<i class="angle double left icon"></i>'
                        v-on:change_page="get_page" v-bind:to_page="0"></pagination>
            <pagination :class="{disabled:first}" content="<i class='angle left icon'></i>"
                        v-on:change_page="get_page" v-bind:to_page="number-1"></pagination>
            <pagination v-for="n in npage" :class="{active:number == n}" v-bind:content="n+1"
                        v-on:change_page="get_page" v-bind:to_page="n"></pagination>
            <pagination :class="{disabled:last}" content='<i class="angle  right icon"></i>'
                        v-on:change_page="get_page" v-bind:to_page="number+1"></pagination>
            <pagination :class="{disabled:last}" content='<i class="angle double right icon"></i>'
                        v-on:change_page="get_page" v-bind:to_page="totalPages-1"></pagination>
        </div>
        <div class="ui selection vertically list celled segment" :class="{loading:!ready}">
            <div class="ui item" target="_blank" v-for="p in problems">
                <a :href="'/problems/'+p.id"><h3>{{p.id}} - {{p.title}} - {{p.score}}积分</h3></a>
                <div class="right floated">
<!--                    <div class="ui inverted red button small">Delete</div>-->
                    <a class="ui button brown inverted small" :href="'/admin/problem/edit/'+p.id">Update</a>
                </div>
                <div class="ui small horizontal labels">
                    <div class="ui label" v-for="pt in p.tags" v-html="pt.name"></div>
                </div>
            </div>
        </div>
        <div class="ui center aligned pagination menu">
            <pagination :class="{disabled:first}" content='<i class="angle double left icon"></i>'
                        v-on:change_page="get_page" v-bind:to_page="0"></pagination>
            <pagination :class="{disabled:first}" content="<i class='angle left icon'></i>"
                        v-on:change_page="get_page" v-bind:to_page="number-1"></pagination>
            <pagination v-for="n in npage" :class="{active:number == n}" v-bind:content="n+1"
                        v-on:change_page="get_page" v-bind:to_page="n"></pagination>
            <pagination :class="{disabled:last}" content='<i class="angle  right icon"></i>'
                        v-on:change_page="get_page" v-bind:to_page="number+1"></pagination>
            <pagination :class="{disabled:last}" content='<i class="angle double right icon"></i>'
                        v-on:change_page="get_page" v-bind:to_page="totalPages-1"></pagination>
        </div>
    </div>
</main>
<script>
    Array.prototype.remove = function (from, to) {
        var rest = this.slice((to || from) + 1 || this.length);
        this.length = from < 0 ? this.length + from : from;
        return this.push.apply(this, rest);
    };
    var problems_list = new Vue({
        el: "#problem-list",
        data: {
            ready: false,
            problems: [],
            number: 0,
            first: false,
            last: false,
            npage: [],
            totalPages: 1,
            search_string: "",
            color: ["red", "blue", "green", "orange", "yellow", "pink", "brown", "purple", "olive", "teal"]
        },
        methods: {
            search() {
                let ss = this.search_string;
                return ss;
            },
            colorClass(id) {
                try {
                    return this.color[parseInt(id) % 10]
                } catch (e) {
                    return this.color[Math.floor(Math.random() * 10)]
                }
            },
            add_search_tag(event) {
                ss = event.target.innerText.trim();
                if (this.search_tag.indexOf(ss) === -1)
                    this.search_tag.push(ss);
                this.get_page(0);
            },
            remove_search_tag(event) {
                ss = event.target.parentNode.innerText.trim();
                if (this.search_tag.indexOf(ss) === -1) {
                    return;
                }
                this.search_tag.remove(this.search_tag.indexOf(ss));
                this.get_page(0);
            },
            search_problem: function () {
                this.get_page(0);
            },
            get_page: function (to_page) {
                var that = this;
                if (to_page !== 0 && (to_page < 0 || to_page >= that.totpage))
                    return null;
                url = "/api/admin/problem?page=" + to_page + "&search=" + this.search();
                axios.get(url)
                    .then(function (response) {
                        response = response.data;
                        that.problems = response.content;
                        that.last = response.last;
                        that.first = response.first;
                        that.number = response.number;
                        that.totalPages = response.totalPages;
                        that.npage = [];
                        for (var i = Math.max(0, that.number - 3); i < Math.min(that.totalPages, that.number + 3); i++) {
                            that.npage.push(i)
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        created() {
            var that = this;
            axios.get('/api/admin/problem')
                .then(function (response) {
                    response = response.data;
                    that.problems = response.content;
                    that.totalPages = response.totalPages;
                    that.last = response.last;
                    that.first = response.first;
                    that.number = response.number;
                    for (var i = Math.max(0, that.number - 3); i < Math.min(that.totalPages, that.number + 3); i++) {
                        that.npage.push(i)
                    }
                    that.ready = true;
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    });
</script>
</body>
</html>