<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/header :: header}"></th:block>
    <meta charset="UTF-8">
    <title>Administrator</title>
</head>
<body>
<main class="ui fluid container">
    <a class="ui button" href="/admin/problem">Problems</a>

    <a class="ui button" href="/admin/settings">Config</a>
    <a class="ui button" href="/api/admin/correctData">Correct Data</a>
    <a class="ui button" href="/api/admin/maintain">Maintain</a>
</main>
</body>
</html>