<!DOCTYPE html>
<html lang="zh-CN" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/js/prettify/skins/sunburst.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="http://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
    <script src="/js/prettify/prettify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style>
        body {
            background-color: #f9f9f9;
            padding: 0;
            padding-top: 6rem;
            margin: 0;
        }

        .ui.fluid.container {
            max-width: 85% !important;
        }
    </style>
</head>
<body>
<nav class="ui fixed massive menu borderless">
    <div class="ui container">
        <a href="/" class="header item">
            <img src="/images/acmlogo.png" alt="logo"></a>
        <a class="link item" href="/">主页</a>
        <a class="link item" href="/problems">题库</a>
        <a class="link item" href="/contest">比赛</a>
        <a class="link item" href="/status">提交记录</a>
        <a class="link item" href="/standing">排名</a>
        <a class="link item" href="/team">队伍</a>
        <div class="ui right borderless menu" id="userbar">
            <div v-if="!isLogin" class="ui menu">
                <a class="item" href="/login">登录</a>
                <a class="item" href="/register">注册</a>
            </div>
            <div v-if="isLogin" class="ui menu">
                <a class="item" :href="'/user/'+user.id" v-if="isLogin"
                   data-inverted="" v-bind:data-tooltip="user.name" data-position="bottom center">个人中心</a>
                <a class="item" href="/logout">注销</a>
            </div>
        </div>
    </div>
</nav>
<script>
    var user_bar = new Vue({
        el: "#userbar",
        data: {
            user: {},
            isLogin: false
        },
        created() {
            var that = this
            axios.get("/user/session").then(function (res) {
                res = res.data;
                if (res.username != undefined) {
                    that.user = res;
                    that.isLogin = true;
                }
            })
        }
    })
</script>
</body>
</html>
