<!DOCTYPE html>
<html lang="zh-CN" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="http://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
    <script src="/js/prettify/prettify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style>
        body {
            background-color: #f9f9f9;
            padding: 0;
            padding-top: 6rem;
            margin: 0;
        }

        .ui.fluid.container {
            max-width: 85% !important;
        }

        .katex {
            font-size: 1.21em !important;
        }

        .editormd-html-preview, .editormd-preview-containe {
            font-size: 16px !important;
        }
    </style>
</head>
<body>
<nav class="ui fixed massive menu borderless">
    <div class="ui fluid container">
        <a href="/" class="header item">
            <img src="/images/acmlogo.png" alt="logo"></a>

        <a class="link item animated fade ui button big" href="/">
            <div class="hidden content"><i class="ui home icon"></i>主页</div>
            <div class="visible content">Home</div>
        </a>
        <a class="link item animated fade ui button big" href="/problems">
            <div class="hidden content"><i class="ui tasks icon"></i>题库</div>
            <div class="visible content">Problem set</div>
        </a>
        <a class="link item animated fade ui button big" href="/contest">
            <div class="hidden content"><i class="ui flag checkered icon"></i>比赛</div>
            <div class="visible content">Contests</div>
        </a>
        <a class="link item animated fade ui button big" href="/status">
            <div class="hidden content"><i class="ui microchip icon"></i>提交记录</div>
            <div class="visible content">Judge Status</div>
        </a>
        <a class="link item animated fade ui button big" href="/user/standing">
            <div class="hidden content"><i class="ui sort amount up icon"></i>排名</div>
            <div class="visible content">Ranklist</div>
        </a>
        <a class="link item animated fade ui button big" href="/team">
            <div class="hidden content"><i class="ui users icon"></i>队伍</div>
            <div class="visible content">Teams</div>
        </a>
        <div class="ui right borderless menu" id="userbar">
            <div v-if="!isLogin" class="ui menu">
                <a class="item animated fade ui button big" href="/login">
                    <div class="hidden content"><i class="ui sign-in icon"></i>登录</div>
                    <div class="visible content">Sign in</div>
                </a>
                <a class="item animated fade ui button big" href="/register">
                    <div class="hidden content"><i class="ui user plus icon"></i>注册</div>
                    <div class="visible content">Sing up</div>
                </a>
            </div>
            <div v-if="isLogin" class="ui menu">
                <a :href="'/user/'+user.id" class="item  animated fade ui button big" v-if="isLogin">
                    <div class="visible content" v-html="user.name"></div>
                    <div class="hidden content"><i class="ui user circle icon"></i></div>
                </a>
                <a class="item animated fade ui button big" href="/logout">
                    <div class="hidden content"><i class="ui sign-out icon"></i>注销</div>
                    <div class="visible content">log out</div>
                </a>
            </div>
        </div>
    </div>
</nav>
<script>
    var user_bar = new Vue({
        el: "#userbar",
        data: {
            user: {},
            isLogin: false
        },
        created() {
            var that = this
            axios.get("/user/session").then(function (res) {
                res = res.data;
                if (res.username != undefined) {
                    that.user = res;
                    that.isLogin = true;
                }
            })
        }
    })
</script>
</body>
</html>
