<!DOCTYPE html>
<html lang="zh-CN" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="/js/vue.min.js"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/css/base.css">
    <style>
        body {
            margin-top: 160px;
        }

        a, a:hover {
            text-decoration: none;
        }
    </style>
</head>
<body>

<nav class="fixed-top bg-white">
    <div class="mb-1 ml-4 mr-4 ">
        <img style="height: 4rem;" src="/images/logo-title.png">
        <div class="float-right m-3" style="font-size: 1.2rem">
            <a>登陆</a><span> | </span><a>注册</a>
        </div>
    </div>
    <ul class="nav  p-2 text-white" style="background: #0087CB;color: #fff;font-size: 1.3rem">
        <li class="nav-item ml-3 mr-3">
            <a class="nav-link" href="/" style="color: white">首页</a>
        </li>
        <li class="nav-item ml-3 mr-3 ">
            <a class="nav-link" href="#" style="color: white">课程</a>
        </li>
        <li class="nav-item ml-3 mr-3">
            <a class="nav-link" href="/toAppointment" style="color: white">约课</a>
        </li>
        <li class="nav-item ml-3 mr-3">
            <a class="nav-link" href="#" style="color: white">笔试</a>
        </li>
        <li class="nav-item ml-3 mr-3">
            <a class="nav-link" href="/oj" style="color: white">Online Judge</a>
        </li>
        <li class="nav-item ml-3 mr-3">
            <a class="nav-link" href="#" style="color: white">学习计划</a>
        </li>
        <li class="nav-item ml-3 mr-3">
            <a class="nav-link" href="#" style="color: white">个人中心</a>
        </li>
    </ul>
</nav>
</body>
</html>