<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/header :: header}"></th:block>
    <meta charset="UTF-8">
    <title>登录</title>

    <style type="text/css">
        body {
            background-color: #EEEEEE;
            margin: 0;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.ui.form')
                .form({
                    inline: true,
                    on: "change",
                    fields: {
                        username: {
                            identifier: 'username',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter your username'
                                },
                                {
                                    type: 'regExp[/^[a-zA-Z0-9_]{6,16}$/]',
                                    prompt: 'Please enter a 4-16 letter username'
                                }
                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter your password'
                                },
                                {
                                    type: 'length[6]',
                                    prompt: 'Your password must be at least 6 characters'
                                }
                            ]
                        }
                    }
                })
            ;
        });
    </script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
    <div class="column" id="vue-login">
        <h2 class="ui blue image header">
            <img src="/images/acmlogo.png" style="width: max-content ;height: auto" class=" big image">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form class="ui form" @submit.prevent="userlogin" onsubmit="return false" v-on:keyup.enter="userlogin">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" v-model="username" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" v-model="password" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid large green inverted button" :class="{disabled:!ready,loading:!ready}"
                     @click.prevent="userlogin">Login
                </div>
            </div>

            <div class="ui error message"></div>

        </form>

        <div class="ui message">
            New to us? <a href="/register">Sign Up</a>
        </div>
    </div>
</div>
<script>
    vlogin = new Vue({
        el: "#vue-login",
        data: {
            username: "",
            password: "",
            ready: true,
        },
        methods: {
            userlogin() {
                if (!$('form').form('validate form'))
                    return;
                this.ready = false;
                var that = this;
                axios.post('/login', {
                    username: this.username,        // 参数 firstName
                    password: this.password,  // 参数 lastName
                })
                    .then(function (response) {
                        $('form').form('reset');
                        if (response.data == "success") {
                            location.href = "/"
                        } else {
                            alert(response.data)
                        }
                        setTimeout(function () {
                            that.ready = true;
                        }, 1500)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })
</script>
</body>
</html>