<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/learn_header :: header}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="" width="device-width,initial-scale=1">
    <title>智者信奥平台-笔试题库</title>
    <link rel="stylesheet" href="/learn/css/yueke.css">
    <link rel="stylesheet" href="/static/css/bishi.css">
</head>
<body>
<!--分类导航栏-->
<div class="knowledge-bar" style="background: white;">
    <div class="container">
        <ul class="knowledge-list list-inline">
            <li class="knowledge-title">方向：</li>
            <li>全部</li>
            <li>计算机基础知识</li>
            <li>基础算法</li>
            <li class="knowledge-label ">数据结构</li>
            <li>C 语言</li>
            <li>C++</li>
            <li>Pascal</li>
        </ul>

        <ul class="knowledge-list list-inline">
            <li class="knowledge-title">分类：</li>
            <li class="knowledge-label">全部</li>
            <li>基础数据结构</li>
            <li>树</li>
            <li>高级数据结构</li>
            <li>图论</li>
            <li>二分图匹配</li>
            <li>网络流问题</li>
        </ul>

        <ul class="knowledge-list list-inline">
            <li class="knowledge-title">阶段：</li>
            <li class="knowledge-label">全部</li>
            <li>普及组入门</li>
            <li>普及组进阶</li>
            <li>提高组入门</li>
            <li>提高组进阶</li>

        </ul>
    </div>
</div>

<div class="container ">

    <!-- 笔试题目-->
    <div style="text-align: center; margin-top: 40px">
        <div style=" margin: 0 auto">
            <img src="/static/image/bishi/bishi.png" style="height: 45px;;margin-right: 10px">
            <img src="/static/image/bishi/bishi-title.png" style="height: 30px; margin-right: 20px">
        </div>
    </div>
    <div>
        <div class="content">
            <h4>共<strong style="color: #336699">300</strong>题<span> | </span>已做<strong
                    style="color: #CC3333;">28</strong>题
            </h4>

            <!--  题目-->
            <div class="question">
                <div class="question-title">
                    <span class="index" style="margin-right: 20px">1</span>
                    <span>存储容量2GB相当于 （    ）</span>
                    <img src="/static/image/bishi/collect.png">
                </div>
                <div class="choose">
                    <ul>
                        <li>A、2000KB</li>
                        <li>B、2000MB</li>
                        <li>C、2048MB</li>
                        <li>D、2048KB</li>
                    </ul>
                </div>

                <h5 class="check" data-toggle="collapse" data-target="#answer1">
                    点击查看答案解析>>
                </h5>

                <div id="answer1" class="collapse">
                    A. 解析无
                </div>
            </div>

            <div class="question">
                <div class="question-title">
                    <span class="index" style="margin-right: 20px">2</span>
                    <span>存储容量2GB相当于 （    ）</span>
                    <img src="/static/image/bishi/cancel.png">
                </div>
                <div class="choose">
                    <ul>
                        <li>A、2000KB</li>
                        <li>B、2000MB</li>
                        <li>C、2048MB</li>
                        <li>D、2048KB</li>
                    </ul>
                </div>
                <h5 class="check" data-toggle="collapse" data-target="#answer2">
                    点击查看答案解析>>
                </h5>

                <div id="answer2" class="collapse">
                    A. 解析无
                </div>
            </div>

            <div class="question">
                <div class="question-title">
                    <span class="index" style="margin-right: 20px">3</span>
                    <span>存储容量2GB相当于 （    ）</span>
                    <img src="/static/image/bishi/cancel.png">
                </div>
                <div class="choose">
                    <ul>
                        <li>A、2000KB</li>
                        <li>B、2000MB</li>
                        <li>C、2048MB</li>
                        <li>D、2048KB</li>
                    </ul>
                </div>
                <h5 class="check" data-toggle="collapse" data-target="#answer3">
                    点击查看答案解析>>
                </h5>

                <div id="answer3" class="collapse">
                    A. 解析无
                </div>
            </div>

            <div class="question">
                <div class="question-title">
                    <span class="index" style="margin-right: 20px">4</span>
                    <span>存储容量2GB相当于 （    ）</span>
                    <img src="/static/image/bishi/collect.png">
                </div>
                <div class="choose">
                    <ul>
                        <li>A、2000KB</li>
                        <li>B、2000MB</li>
                        <li>C、2048MB</li>
                        <li>D、2048KB</li>
                    </ul>
                </div>
                <h5 class="check" data-toggle="collapse" data-target="#answer4">
                    点击查看答案解析>>
                </h5>

                <div id="answer4" class="collapse">
                    A. 解析无
                </div>
            </div>

            <div class="question">
                <div class="question-title">
                    <span class="index" style="margin-right: 20px">5</span>
                    <span>存储容量2GB相当于 （    ）</span>
                    <img src="/static//image/bishi/collect.png">
                </div>
                <div class="choose">
                    <ul>
                        <li>A、2000KB</li>
                        <li>B、2000MB</li>
                        <li>C、2048MB</li>
                        <li>D、2048KB</li>
                    </ul>
                </div>
                <h5 class="check" data-toggle="collapse" data-target="#answer5">
                    点击查看答案解析>>
                </h5>

                <div id="answer5" class="collapse">
                    A. 解析无
                </div>
            </div>

            <div style="text-align: center;margin-top: 30px">
                <button class="btn btn-primary " style="margin: 0 auto">已经学完，再来五题</button>
            </div>
        </div>
        <h4></h4>
        <div class="tip">
            <div style="text-align: center;">
                <div style="margin: 0 auto">
                    <img src="/static//image/bishi/tip.png" style="height: 30px;margin:10px">
                    <strong style="font-size: 20px">温馨提示</strong>
                </div>
            </div>
            <p style="margin: 20px;font-size:15px;color:#494949;line-height: 1.8">
                1. 智者信奥平台的笔试部分题目均切合信奥的比赛提纲；<br>
                2. 包括单选题和填空题，用户每次可随机切换题目进行刷题；<br>
                3. 无需作答，可直接查看答案解析；<br>
                4. 部分解析会进行收费；<br>
                4. 用户可对题目进行收藏。<br>
            </p>

        </div>
    </div>
</div>
<br><br><br>
</body>
</html>