<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/learn_header :: header}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="" width="device-width,initial-scale=1">
    <title>智者信奥平台</title>
    <link rel="stylesheet" href="/learn/css/home_slider.css">
    <link rel="stylesheet" href="/learn/css/home.css">
</head>
<body>
<main>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
        </ul>

        <!-- 轮播图片 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/learn/image/home/slider7.jpg" style="height: 450px;width: 1920px;">
            </div>
            <div class="carousel-item">
                <img src="/learn/image/home/slider8.jpg" style="height: 450px;width: 1920px;">
            </div>
            <div class="carousel-item">
                <img src="/learn/image/home/slider3.png" style="height: 450px;width: 1920px;">
            </div>
            <div class="carousel-item">
                <img src="/learn/image/home/slider4.png" style="height: 450px;width: 1920px;">
            </div>
            <div class="carousel-item">
                <img src="/learn/image/home/slider5.png" style="height: 450px;width: 1920px;">
            </div>
        </div>

        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
    </div>
    <div class="container-fluid row " style="height: 40rem;">
        <div class="col-sm-2">
            <a href="/allZCLass/1">
                <div class="course-type">
                    <img src="/learn/image/home/commendLive.jpg">
                </div>
            </a>
        </div>
        <div class=" col-sm-10">
            <div class="row" style="height: 40rem">
                <!--            {% for recommendZClass in recommendZList%}-->
                <div class="col-lg-2">
                    <div class="zClass thumbnail" style="border-radius: 0" classid="{{recommendZClass[0]}}">
                        <div class="icon">
                            <img src="/learn/image/home/zhibo.png">
                        </div>
                        <img src="{{recommendZClass[2]}}" class='classImage'></img>
                        <div class="caption">
                            <h4 class="course-title">{{recommendZClass[1]}}</h4>
                            <p class="course-description">教师 ：{{recommendZClass[5]}} <span class="price"> 免费</span></p>
                            <p2></p2>
                        </div>
                    </div>
                </div>

                <!--            {% endfor %}-->


            </div>
        </div>
    </div>
    <!--课程推荐栏-->
    <div class="container-fluid">

        <h3 class="text-center"><!--<span class="glyphicon glyphicon-hand-right"></span>-->

            <strong><span style="color: black;font-size: 23px;">课 程 推 荐</span></strong>
            <!--<span class="glyphicon glyphicon-hand-left"></span>-->
            <a class="more" onclick="changeCommend()"><span class="glyphicon glyphicon-refresh">换一换</span> </a></h3>


        <div class="row" id="recommendDClass">
            {% for recommendDClass in recommendDList%}

            <div class="col-md-2">
                <div class="dClass thumbnail" style="border-radius: 0" classid="{{recommendDClass[0]}}">
                    <img src="{{recommendDClass[1]}}" class='classImage' alt="">
                    <div class="caption">
                        <h4 class="course-title">{{recommendDClass[2]}}</h4>
                        <p class="course-description">报名人数：{{recommendDClass[10]}} <span class="price"> ¥{{recommendDClass[7]}}积分</span>
                        </p>
                        <p2></p2>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>

    </div>
    </div>

    <div class=" container-fluid" style="display: flex;flex-direction: row;background: #100B40">
        <img src="http://edu-image.nosdn.127.net/7430f6bc47d44d6098592cec22156eb2.png?imageView&quality=100"
             style="width:40%;height: 100px">
        <img src="http://edu-image.nosdn.127.net/b09ee8ab-9b82-4e19-b9d4-2a7e6a53c5c3.jpg?imageView&thumbnail=833y100&quality=100"
             style="width:60%;height: 100px">
    </div>

    <!--干货分享栏-->

    <div class="know container-fluid">
        <h3 class="text-center"><!--<span class="glyphicon glyphicon-fire"></span>-->

            <strong><span style="color: black;font-size: 23px;">干 货 分 享</span></strong>
            <!--<span class="glyphicon glyphicon-fire"></span>-->
            <a href="/searchMainPoint" class="more"><span>更多>></span> </a></h3>

        <div class="row">
            <div class="col-md-2">
                <div class="mainPoint knowledge" mainPointId="4">
                    <img src="https://edu-image.nosdn.127.net/D9F111785E1F6653AF2DA098694FA4B2.png?imageView&amp;thumbnail=510y288&amp;qua"
                         alt="">
                    <div class="caption">
                        <p class="course-title" style="font-size: 16px;margin-top: 5px;color:#100b40">
                            【大纲整理】计算机基本常识要点</p>
                        <p class="content text-muted text-justify" style="letter-spacing:2px;">
                            在计算机和信息化社会，掌握计算机基本常识必不可少，这份大纲包含了信息的存储、组织与管理，信息系统组成及互联网的基本知识，信息的输入输出基本原理、人机交互界面的基本概念，信息技术的新发展、新特点、新应用等内容。
                            <p2></p2>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="mainPoint knowledge" mainPointId="5">
                    <img src="http://edu-image.nosdn.127.net/f26bf6e1de8946c8a4504f003640039e.png?imageView&amp;quality=100"
                         alt="">
                    <div class="caption">
                        <p class="course-title" style="font-size: 16px;margin-top: 5px;color:#100b40">
                            【大纲整理】计算机基本常识要点</p>
                        <p class="content text-muted text-justify" style="letter-spacing:2px;">
                            在计算机和信息化社会，掌握计算机基本常识必不可少，这份大纲包含了信息的存储、组织与管理，信息系统组成及互联网的基本知识，信息的输入输出基本原理、人机交互界面的基本概念，信息技术的新发展、新特点、新应用等内容。
                            <p2></p2>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="mainPoint knowledge" mainPointId="6">
                    <img src="http://edu-image.nosdn.127.net/0f01f1c6c2ed4bfe9fe7e48a3518e557.png?imageView&amp;quality=100"
                         alt="">
                    <div class="caption">
                        <p class="course-title" style="font-size: 16px;margin-top: 5px;color:#100b40">
                            【笔记分享】信息学奥赛的答题技巧</p>
                        <p class="content text-muted text-justify" style="letter-spacing:2px;">
                            没参加过信奥怎么办？不知道哪些考点需要重视？不清楚如何复习才能高效记住知识点？不要着急，这份笔记由多位有参赛经验的前辈们分享的答题技巧凝聚而成，有了这份大牛们整理的笔记，妈妈再也不用担心我的竞赛啦！
                            <p2></p2>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="mainPoint knowledge" mainPointId="7">
                    <img src="http://edu-image.nosdn.127.net/93d1bead436e49578b8507a3a0fea6e5.png?imageView&amp;quality=100"
                         alt="">
                    <div class="caption">
                        <p class="course-title" style="font-size: 16px;margin-top: 5px;color:#100b40">
                            【笔记分享】信息学奥赛的答题技巧</p>
                        <p class="content text-muted text-justify" style="letter-spacing:2px;">
                            没参加过信奥怎么办？不知道哪些考点需要重视？不清楚如何复习才能高效记住知识点？不要着急，这份笔记由多位有参赛经验的前辈们分享的答题技巧凝聚而成，有了这份大牛们整理的笔记，妈妈再也不用担心我的竞赛啦！
                            <p2></p2>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="mainPoint knowledge" mainPointId="7">
                    <img src="https://edu-image.nosdn.127.net/16307483B019768908D884589FF0A432.jpg?imageView&thumbnail=510y288&qua"
                         alt="">
                    <div class="caption">
                        <p class="course-title" style="font-size: 16px;margin-top: 5px;color:#100b40">
                            【笔记分享】信息学奥赛的答题技巧</p>
                        <p class="content text-muted text-justify" style="letter-spacing:2px;">
                            没参加过信奥怎么办？不知道哪些考点需要重视？不清楚如何复习才能高效记住知识点？不要着急，这份笔记由多位有参赛经验的前辈们分享的答题技巧凝聚而成，有了这份大牛们整理的笔记，妈妈再也不用担心我的竞赛啦！
                            <p2></p2>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="mainPoint knowledge" mainPointId="7">
                    <img src="https://edu-image.nosdn.127.net/A90C1CFE6DB930928F8A33DD899F042E.png?imageView&thumbnail=510y288&qua"
                         alt="">
                    <div class="caption">
                        <p class="course-title" style="font-size: 16px;margin-top: 5px;color:#100b40">
                            【笔记分享】信息学奥赛的答题技巧</p>
                        <p class="content text-muted text-justify" style="letter-spacing:2px;">
                            没参加过信奥怎么办？不知道哪些考点需要重视？不清楚如何复习才能高效记住知识点？不要着急，这份笔记由多位有参赛经验的前辈们分享的答题技巧凝聚而成，有了这份大牛们整理的笔记，妈妈再也不用担心我的竞赛啦！
                            <p2></p2>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="news container-fluid" style="margin-top: 20px;height:30rem ">
        <div class="row">
            <div class="news-bar col-md-4">
                <div class="title ">
                    <img class="news-icon" src="/learn/image/home/icon-news2.png"><h4 class="title_left "> 新闻动态
                    <span class="more"><a href="/toNoticeType/1/1">更多&gt;&gt;</a></span></h4>
                </div>
                <div class="news_list">
                    <ul>
                        <div class="notice" noticeId="21">
                            <li class="notice" noticeId="21">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                        <div class="notice" noticeId="22">
                            <li class="notice" noticeId="22">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                        <div class="notice" noticeId="23">
                            <li class="notice" noticeId="23">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                        <div class="notice" noticeId="24">
                            <li class="notice" noticeId="24">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                        <div class="notice" noticeId="25">
                            <li class="notice" noticeId="25">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                    </ul>

                </div>
            </div>
            <div class="news-bar col-md-4">
                <div class="title">
                    <h4 class="title_left"><img class="news-icon" src="/learn/image/home/icon-news1.png">赛果公示
                        <span class="more"><a href="/toNoticeType/2/1">更多&gt;&gt;</a></span></h4>
                </div>
                <div class="news_list">
                    <ul>
                        <div class="notice" noticeId="21">
                            <li class="notice" noticeId="21">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                        <div class="notice" noticeId="22">
                            <li class="notice" noticeId="22">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                        <div class="notice" noticeId="23">
                            <li class="notice" noticeId="23">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                        <div class="notice" noticeId="24">
                            <li class="notice" noticeId="24">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                        <div class="notice" noticeId="25">
                            <li class="notice" noticeId="25">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="news-bar1 col-md-4">
                <div class="title">
                    <h4 class="title_left"><img class="news-icon" src="/learn/image/home/icon-news3.png">条例条规
                        <span class="more"><a href="/toNoticeType/3/1">更多&gt;&gt;</a></span></h4>
                </div>
                <div class="news_list">
                    <ul>
                        <div class="notice" noticeId="21">
                            <li class="notice" noticeId="21">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                        <div class="notice" noticeId="22">
                            <li class="notice" noticeId="22">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                        <div class="notice" noticeId="23">
                            <li class="notice" noticeId="23">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                        <div class="notice" noticeId="24">
                            <li class="notice" noticeId="24">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                        <div class="notice" noticeId="25">
                            <li class="notice" noticeId="25">
                                <a>信息奥赛初赛报名</a><span class="date">2019-03-26 19:22:49</span>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <footer th:replace="~{fragment/learn_footer :: footer}"></footer>
</main>
</body>
</html>
<script type="text/javascript">
    function changeCommend() {
        $.ajax({
            url: '/changeCommend',
            method: 'GET',
            dataType: 'json',
            success: function (arg) {
                $('#recommendDClass').empty();
                $.each(arg, function (i, item) {
                    $('#recommendDClass').append('<div class="col-md-2">\n' +
                        '            <div class="dClass thumbnail"  classid="' + item[0] + '">\n' +
                        '                <img src="' + item[1] + '" class=\'classImage\' alt="">\n' +
                        '                <div class="caption">\n' +
                        '                    <h4 class="course-title">' + item[2] + '</h4>\n' +
                        '                    <p class="course-description">报名人数：' + item[10] + ' <span class="price"> ¥' + item[7] + '积分</span></p>\n' +
                        '                    <p2></p2>\n' +
                        '                </div>\n' +
                        '            </div>\n' +
                        '        </div>');

                });
            }
        })
    }

</script>