<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/learn_header :: header}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="" width="device-width,initial-scale=1">
    <title>智者信奥平台-预约课程</title>
    <link rel="stylesheet" href="/learn/css/yueke.css">
</head>
<body>

<div class="knowledge-bar">
    <div class="container-fluid">
        <img src="/learn/image/yueke/play.png" style="height: 40px;margin-left: -8px"> <img
            src="/learn/image/yueke/biao.png"
            style="height: 30px;">
        <ul class="knowledge-list list-inline">
            <li class="knowledge-title">方向：</li>
            <li>全部</li>
            <li>计算机基础知识</li>
            <li>基础算法</li>
            <li class="knowledge-label ">数据结构</li>
            <li>C 语言</li>
            <li>C++</li>
            <li>Pascal</li>
        </ul>
        <ul class="knowledge-list list-inline">
            <li class="knowledge-title">分类：</li>
            <li class="knowledge-label">全部</li>
            <li>基础数据结构</li>
            <li>树</li>
            <li>高级数据结构</li>
            <li>图论</li>
            <li>二分图匹配</li>
            <li>网络流问题</li>


        </ul>
        <ul class="knowledge-list list-inline">
            <li class="knowledge-title">阶段：</li>
            <li class="knowledge-label">全部</li>
            <li>普及组入门</li>
            <li>普及组进阶</li>
            <li>提高组入门</li>
            <li>提高组进阶</li>

        </ul>
    </div>
</div>

<div class="container-fluid teacher-list">
    <div class="row ">
        <a href="/toSelectTeacher">
            <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
                <div class="thumbnail">
                    <img style="height: 160px;" src="/learn/image/yueke/teacher1.jpg" alt="">
                    <div class="caption">
                        <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                        <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                        <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                    </div>
                </div>

            </div>
        </a>
        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher2.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>
        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher3.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>
        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher4.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>

        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher4.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>
        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher4.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher1.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>
        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher2.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>
        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher3.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>
        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher4.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>


    </div>
    <div class="row ">
        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher1.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>
        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher2.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>
        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher3.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>
        <div class="teacher col-md-2" style="padding-left:25px;padding-right: 25px">
            <div class="thumbnail">
                <img style="height: 160px;" src="/learn/image/yueke/teacher4.jpg" alt="">
                <div class="caption">
                    <h4 class="teacher-name">黄老师<span class="level">★ ★ ★ ★ ★</span></h4>
                    <p class="teacher-description">有三年教学经验，曾获ACM金牌教练称号，所带领的学生有三位考入清华，两位考入北大</p>
                    <p><span class="student-number">已预约人数：12 </span><span class="time">剩余时间段：5</span></p>

                </div>
            </div>
        </div>


    </div>
</div>

<th:block th:insert="~{fragment/learn_footer :: footer}"></th:block>
</body>
</html>