<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/learn_header :: header}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="" width="device-width,initial-scale=1">
    <link rel="stylesheet" href="/learn/css/style1.css">
    <title>课程学习</title>
    <script type="text/javascript" src="/learn/js/jquery.js"></script>
    <script type="text/javascript" src="/learn/js/jquery.SuperSlide.2.1.1.js"></script>
</head>

<body>


</body>