<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/learn_header :: header}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="" width="device-width,initial-scale=1">
    <title>直播课堂</title>
    <link rel="stylesheet" href="/learn/css/liveCourse.css">
    <style>

        .live {
            background: black;
            height: 720px;
            width: 1280px;
        }
    </style>
</head>

<body>
<div class="container-fluid">
    <h3>{{liveClass[0][1]}}直播课</h3>
    <div class="row">
        <!--     //左边视频框-->
        <div class="live-left col-sm-8">
            <div class="live" id="id_test_video">
            </div>
        </div>
        <!--     //右边讨论区-->

        <div class="live-left col-sm-4">
            <div class="box">
                <div class="top">直播讨论室</div>
                <div class="cont" id="cont">

                </div>
                <div class="bot">
                    <form id="uploadForm" enctype="multipart/form-data">

                        <input type="text" class="form-control" name="content" style="width: 250px;" id="txt"
                               placeholder="发送消息...">
                        <input type="button" class="btn btn-default" name="take" id="take" value="发送">
                        <input hidden name="classId" value="{{discussContent[0][0]}}"/>
                    </form>
                </div>

            </div>

            <script type="text/javascript">
                discussContent = {
                {
                    discussContent | tojson
                }
                }
                userId = {
                {
                    userId | tojson
                }
                }
                var cont = document.getElementById("cont");
                $(discussContent).each(function (i, item) {

                    if (item[1] == userId) {

                        cont.innerHTML += "<div class='lis_rt'><span class='peo sec' style='border-radius:50%;background: url(" + item[3] + "); background-size:100%' ></span><p class='lis_txt'>" + item[4] + "</p></div>";

                    } else {
                        cont.innerHTML += "<div class='lis_lf'><span class='peo sec' style='border-radius:50%;background: url(" + item[3] + ") ; background-size:100%'></span><p class='lis_txt'>" + item[4] + "</p></div>";
                    }
                    cont.scrollTop = cont.scrollHeight;

                });

                var oTxt = document.getElementById("txt");
                var oTake = document.getElementById("take");

                //点击切换头像

                oTake.onclick = function () {

                    var formData = new FormData($('#uploadForm')[0]);
                    $.ajax({
                        url: "/insertDiscuss",
                        type: "post",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            $.each(data, function (index, item) {
                                //循环获取数据
                                if (oTxt.value.length != 0) {
                                    if (item[1] == userId) {

                                        cont.innerHTML += "<div class='lis_rt'><span class='peo sec' style='border-radius:50%;background: url(" + item[3] + "); background-size:100%' ></span><p class='lis_txt'>" + item[4] + "</p></div>";

                                    } else {
                                        cont.innerHTML += "<div class='lis_lf'><span class='peo sec' style='border-radius:50%;background: url(" + item[3] + ") ; background-size:100%'></span><p class='lis_txt'>" + item[4] + "</p></div>";
                                    }
                                    oTxt.value = " ";
                                } else {
                                    alert("消息不能为空！");
                                    return false;
                                }
                                //使滚动条一直保持在底端，来显示最新发布的消息
                                //必学写在最后，不然获取的scrollHeight不是最新的
                                cont.scrollTop = cont.scrollHeight;


                            });

                        }


                    })

                }

            </script>

        </div>
    </div>
</div>
<footer th:replace="~{fragment/footer :: footer}"></footer>
<script src="//imgcache.qq.com/open/qcloud/video/vcplayer/TcPlayer-2.2.2.js" charset="utf-8"></script>

<script type="text/javascript">

    // var liveClass= {{ liveClass|tojson }}
    var playUrl = liveClass[0][3]
    var player = new TcPlayer('id_test_video', {

        "m3u8": playUrl + '.m3u8',
        "flv": playUrl + '.flv', //增加了一个flv的播放地址，用于PC平台的播放 请替换成实际可用的播放地址
        "autoplay": true,      //iOS下safari浏览器，以及大部分移动端浏览器是不开放视频自动播放这个能力的
        "coverpic": "http://www.test.com/myimage.jpg",
        "width": '1280',//视频的显示宽度，请尽量使用视频分辨率宽度
        "height": '720'//视频的显示高度，请尽量使用视频分辨率高度
    });


    function toTestPaper(status) {
        window.location.href = "/toTestPaper/" + status
    }


</script>
</body>
</html>
