<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/header :: header}"></th:block>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<main class="ui fluid container" height="100%" width="100%">
    <div class="ui segment">
        <div class="ui three column grid">
            <div class="column text container center aligned">
                <a href="/problems"><i class="ui blue link cloud icon massive"></i>
                    <h3>刷题</h3></a></div>
            <div class="column text container center aligned">
                <a href="/contest"><i
                        class="ui orange link lightbulb outline icon massive"></i>
                    <h3>比赛</h3></a></div>
            <div class="column text container center aligned">
                <a href="/">
                    <i class="ui link massive book red icon"></i>
                    <h3>学习</h3></a></div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui container">
        <!--                <img class="ui fluid image" src="http://12452007.s61i.faiusr.com/2/AD0Ip4H4BRACGAAg5P_WwwUon8zbvgUw4AM4rAI.jpg" alt="">-->
        <div class="ui content">
            <h2 class="ui header center aligned">公告</h2>
            <div>
                题目时间空间限制显示均为C/C++语言。其他语言时间空间限制则乘二。
            </div>
            <div id="notice">

            </div>
        </div>
    </div>
</main>
<script>
    $.get("/notice", function (data, status) {
        $("#notice").html(data);
    });
</script>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>