<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/header :: header}"></th:block>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
<main class="ui fluid container">
    <div class="ui grid">
        <div class="ten wide column" id="vue-team">
            <div class="ui segment raised">
                <div class="ui icon input">
                    <input type="text" placeholder="邀请码" v-model="inviteCode">
                    <i class="circular arrow right link icon" @click="invite()"></i>
                </div>
                <table class="ui selectable blue table very compact center aligned">
                    <thead>
                    <tr>
                        <th>Number</th>
                        <th>Team</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>加入方式</th>
                        <th>人数</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="vt in vteams" :class="{negative:vt.attend=='private'}">
                        <td v-html="vt.id"></td>
                        <td><a :href="'/team/'+vt.id" v-html="vt.name"></a></td>
                        <td>{{vt.creator.name}}</td>
                        <td>{{vt.normalCreateTime}}</td>
                        <td >{{vt.attend}}</td>
                        <td>{{vt.teammates.length}}</td>
                        <td class="link item">
                            <button class="ui button red inverted mini animated" @click="apply(vt.id)"
                                    :class="{disabled:vt.attend=='private'}">
                                <div class="visible content">申请加入</div>
                                <div class="hidden content">
                                    <i class="right arrow icon"></i>
                                </div>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui segment raised">
                <a class="ui button inverted blue small" href="/team/create">创建队伍</a>
                <h2>我的队伍</h2>
                <div class="ui huge list selection" id="my-team">
                    <a :href="'/team/'+t.id" class="item link" v-for="t in myteams">
                        {{t.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
<script>
    vue_team = new Vue({
        el: "#vue-team",
        data: {
            vteams: [{
                id: 0, name: "", creator: {name: ""}, normalCreateTime: "", attend: "public", teammates: []
            }],
            totalElements: 0,
            totalPages: 0,
            last: true,
            number: 0,
            size: 50,
            numberOfElements: 0,
            inviteCode: "",
            first: true,
            empty: true,
            npage: []
        },
        methods: {
            apply(id) {
                axios.post("/api/team/apply/" + id).then(function (res) {
                    if (res.data == "success") {
                        alert("Done!");
                    } else {
                        alert("failed!");
                    }
                });
            },
            invite() {
                axios.get("/api/team/invite/" + this.inviteCode)
                    .then(function (res) {
                        if (res.data == "success") {
                            alert("Done!");
                        } else {
                            alert("failed!");
                        }
                    });
            }
        },
        created() {
            var that = this;
            axios.get('/api/team').then(function (res) {
                res = res.data;
                that.vteams = res.content;
                that.totalPages = res.totalPages;
                that.totalElements = res.totalElements;
                that.last = res.last;
                that.number = res.number;
                that.size = res.size;
                that.first = res.first;
                that.numberOfElements = res.numberOfElements;
                that.empyt = res.empty;
                that.npage = [];
                for (var i = Math.max(0, that.number - 3); i < Math.min(that.totalPages, that.number + 3); i++) {
                    that.npage.push(i)
                }
            });
        }
    });
    my_team = new Vue({
        el: "#my-team",
        data: {
            myteams: [{id: 0, name: ""}]
        },
        created() {
            var that = this;
            axios.get("/api/team/myteams")
                .then(function (res) {
                    if (res.data != undefined) {
                        that.myteams = res.data;
                    }
                });
        }
    })
</script>
</html>