<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/header :: header}"></th:block>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>

<main class="ui fluid container" id="vue-team">
    <table class="ui selectable blue table center aligned" >
        <thead>
        <tr>
            <th>Number</th>
            <th>Team</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>加入方式</th>
            <th>人数</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="vt in vteams">
            <td v-html="vt.id"></td>
            <td><a :href="'/team/'+vt.id" v-html="vt.name"></a></td>
            <td>{{vt.creator.name}}</td>
            <td>{{vt.normalCreateTime}}</td>
            <td>{{vt.attend}}</td>
            <td>{{vt.teammates.length}}</td>
        </tr>
        </tbody>
    </table>


</main>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
<script>
    vue_team = new Vue({
        el: "#vue-team",
        data: {
            vteams: [{
                id: 0, name: "", creator: {name: ""}, normalCreateTime: "", attend: "public",teammates:[]
            }],
            totalElements: 0,
            totalPages: 0,
            last: true,
            number: 0,
            size: 50,
            numberOfElements: 0,
            first: true,
            empty: true,
            npage: []
        },
        created() {
            var that = this;
            axios.get('/api/team').then(function (res) {
                res = res.data;
                that.vteams = res.content;
                that.totalPages = res.totalPages;
                that.totalElements = res.totalElements;
                that.last = res.last;
                that.number = res.number;
                that.size = res.size;
                that.first = res.first;
                that.numberOfElements = res.numberOfElements;
                that.empyt = res.empty;
                that.npage = [];
                for (var i = Math.max(0, that.number - 3); i < Math.min(that.totalPages, that.number + 3); i++) {
                    that.npage.push(i)
                }
            });
        }
    });
</script>
</html>