<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/header :: header}"></th:block>
    <meta charset="UTF-8">
    <title>训练&比赛</title>
    <style>
        .ui.fluid.container {
            max-width: 85% !important;
        }
    </style>
    <script src="/js/pagination.js"></script>
</head>
<body>
<div class="ui container fluid">
    <div class="ui container" id="contest-list">
        <form class="ui icon input" v-on:submit.prevent="search_contest()">
            <input type="text" v-model="search_string" placeholder="搜索比赛">
            <i class="search link icon" v-on:click="search_problem()"></i>
        </form>
    </div>
    <div class="ui animated huge selection vertically celled list segment" :class="{loading:!ready}">
        <a class="ui link item" target="_blank" v-for="c in contests" :href="'/contests/'+c.id">
            <div class="ui header">Title</div>
            <div class="meta">{{p.description.substring(0,35)}}</div>
        </a>
    </div>
    <div class="ui center aligned pagination menu">
        <pagination content='<i class="angle double left icon"></i>' v-on:change_page="get_page"
                    v-bind:to_page="0"></pagination>
        <pagination :class="{disabled:number == 0}" content="<i class='angle left icon'></i>"
                    v-on:change_page="get_page" v-bind:to_page="number-1"></pagination>
        <div v-for="n in npage">
            <pagination :class="{active:number == n}" v-bind:content="n+1" v-on:change_page="get_page"
                        v-bind:to_page="n"></pagination>
        </div>
        <pagination :class="{disabled:number == (totpage-1)}" content='<i class="angle  right icon"></i>'
                    v-on:change_page="get_page" v-bind:to_page="number+1"></pagination>
        <pagination content='<i class="angle double right icon"></i>' v-on:change_page="get_page"
                    v-bind:to_page="totpage-1"></pagination>
    </div>
</div>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>